<!DOCTYPE html>
<html lang="en">

<head>

    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
                <a class="navbar-brand" href="#myPage"><img src="/assets/images/logo.png" alt="" class="logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#services">SERVICES</a></li>

                    <li><a href="#pricing">REVIEWS</a></li>

                    <li>
                        <a href="https://twitter.com/WhatsOnDelft" target="_blank"><img src="/assets/images/twitter.jpg" alt="" class="twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/WhatsOnDelft/" target="_blank"><img src="/assets/images/fb.png" alt="" class="twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/WhatsOnDelft/" target="_blank"><img src="/assets/images/insta.png" alt="" class="twitter"></a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    <div id="about" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h1>About Us</h1><br>
                <h4>We are a young and diverse team made up of students and recent graduates, who want to make a positive impact on the lives of students. As international students ourselves, we have faced a lot of issues, and have learnt a lot in the process,
                    and it is this knowledge that we want to impart on future students. The only compensation we currently receive is the knowledge that we are helping other students.</h4><br>

            </div>
            <div class="col-sm-4">
                <img src="/assets/images/flow.png" alt="">
            </div>
        </div>
    </div>
    <div id="about" class="container-fluid">
        <div class="row">

            <div class="col-sm-4">
                <img src="/assets/images/about_div.png" alt="">
            </div>
        </div>
    </div>
    <div id="about" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>Our Team</h2><br>
                <h4>WhatsOn Delft is a community-driven platform built by TU Delft students, for students. Together, we can help each other get the full student experience.</h4><br>

                <br><button class="btn btn-default btn-lg">Get in Touch</button>
            </div>
            <div class="col-sm-4">
                <img src="/assets/images/flow.png" alt="">
            </div>
        </div>
    </div>





    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>

    </footer>
    <p class="footer_text">Copyright Evention Labs 2017</p>
</body>

</html>